html
	head
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
		script(src="/scripts/search.js")
		title Pokemon Card Database 
		link(rel="icon", href="/images/master_ball_icon.svg" type="image/svg+xml", sizes="any")
		link(rel="stylesheet", href="/styles/search.css", type="text/css")
		link(rel="stylesheet", href="/styles/header.css", type="text/css")
	body
		include ./partials/header.pug
		div#main
			if data.searchResults.length > 0
				if data.set
					img#set-image(src=`${data.set.logo}`, alt=data.set.name)
					h1.results-label Set - (#{data.set.series}) #{data.set.name}
				else
					h1.results-label Search Results
				div#results-outer
					each result in data.searchResults
						div(class="search-result")
							a(href=result.url) #{result.text}
			else
				div#welcome-message #{data.message}
					ul#welcome-list The following search options are available on this website:
						li By the name of the Pokémon that appears on the card 
						li By the type of the Pokémon that appears on the card 
						li By the minimum HP of the card 
						li By the name of the set series and/or set name the card belongs to
						li By the name of an attack that appears on the card
					span The database file, the python script that generated it and the soure code for the front-end and back-end of the website can be found on my GitHub 
						a(href="https://github.com/jakektaylor") https://github.com/jakektaylor.
				img#welcome-image(src="https://www.pngall.com/wp-content/uploads/4/Pokeball-PNG-File.png")

				


				